.ccc-banner {
    margin: 2rem;
    padding: 2rem;
    position: absolute;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
    z-index: 2000;

    &__title {
        margin: 0 0 1rem 0;
    }

    &__description {
        margin: 0 0 1rem 0;
    }

    &--top {
        top: 0;
        left: 0;
        right: 0;
    }

    &--bottom {
        bottom: 0;
        left: 0;
        right: 0;
    }

    &--left {
        top: 0;
        bottom: 0;
        left: 0;
        right: 75%;
    }

    &--right {
        top: 0;
        bottom: 0;
        left: 75%;
        right: 0;
    }

    &--center {
        top: 50%;
        left: 50%;
        width: 40%;
        transform: translate(-50%,-50%);
    }

    &__button {
        background-color: #ffffff;
        padding: 0.6rem 1rem;
        appearance: button;
        border: 0;
        border-radius: 0.25rem;
        font-size: 1rem;
        display: block;
        margin: 2rem 0 0 0;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
            box-shadow: none;
        }
    }
}
